body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
}

@media screen and (max-device-width: 500px) and (orientation: portrait){
  .HideOnPhones {
    display: none;
  }
}

@media min-device-width: 500px {
  .HideOnDesktop {
    display: none;
  }
}

